.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
}

.dashboard {
  width: 95%;
  height: 700px;
  background: #f7f3f5;
}
