.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
}

.dashboard {
  display: flex;
  width: 100%;
  max-width: 1600px;
  height: 800px;
  background: #f7f3f5;
  overflow-x: hidden;

  &__content {
    width: calc(100% - 65px);
    transition: 0.5s;
  }

  &__transform {
    transform: translateX(300px);
    transition: 0.5s;
  }
}
